.smartphone{
    width:320px;
    height:620px;
    margin:auto;
    border:16px black solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
    background-color: #88ff8e;
  }
  
  .smartphone:before {
    content: relative;
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
  }
  
  .smartphone .content {
    width: 320px;
    height: 620px;
    background: white;
    background-color: #88ff8e;
  }
  
  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #88ff8e;
  }
  #button1{
    background-color: #04AA6D; /* Green */
    border: 1px solid green;
    color: white;
    height:30px;
    width:100px;
    text-align: center;
    font-size: 15px;
    transition-duration: 0.4s;  
    float:left;
    cursor:pointer;
    margin-right:5px;
    margin-top:2px;
  }
  
  #button2{
    background-color: #04AA6D; /* Green */
    border: 1px solid green;
    color: white;
    height:30px;
    width:100px;
    text-align: center;
    font-size: 15px;
    transition-duration: 0.4s;
    float:center;
    cursor:pointer;
    margin-top:2px;
    margin-right:5px;
    margin-left: 5px;
  }
  #button3{
    background-color: #04AA6D; /* Green */
    border: 1px solid green;
    color: white;
    height:30px;
    width:100px;
    text-align: center;
    font-size: 15px;
    transition-duration: 0.4s;
    float:right;
    cursor:pointer;
    margin-top:2px;
    margin-left: 5px;
  }
  h1{
    text-align: center;
    font-size: 62px;
    position: relative;
    margin-top: 0%;
    margin-bottom: 0%;
  }
  .search{
    height: 35px;
    position: auto;
    border: 2px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .14);
    background-color: AliceBlue;
    font-size: 14px;
    margin:auto;
    width:97%;
    display:block;

  }
  #foodMenu{
    position:relative;
    margin: auto;
    margin-top: 5%;
    border: solid 3px black;
    height: 450px;
    width: 300px;
    overflow-y: scroll;
  }
  #foodBoxes{
    margin:auto;
    position: relative;
    float: left;
    
  }
  
  .fruitName{
    width: 100px;
    position:relative;
    float: right;
    margin-right: 20%;
    font-size: 40px;
    text-align: center;
  }